NEXT_PUBLIC_API_URL=http://localhost:8080
NEXT_PUBLIC_WS_URL=ws://localhost:8080/ws
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_CONTACT_EMAIL=harxh@duck.com
NEXT_PUBLIC_FRONTEND_URL=

SESSION_SECRET=
AUTH_USERNAME=change-me
AUTH_PASSWORD=change-me